@charset "utf-8";


/* Reset */

html,body,div,header,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,address,big,cite,code,del,dfn,em,font,img,ins,q,s,samp,small,strike,strong,sub,sup,tt,var,
b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,figure {color:#333; font-family:'NS','돋움',​dotum,sans-serif; font-size:14px; font-weight:300; letter-spacing:-0.3px; line-height:1.571em; border:0 none; margin:0; padding:0;}

html {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
*, *:before, *:after {box-sizing: inherit;}

input,textarea {margin:0px; padding:0px;}
select {padding:0 1px;}
em {font-style:normal}
p, td, li, dd, dt, .block, th {/*word-break:keep-all;*/ /*word-wrap:break-word;*/} 
th, td {word-break:break-all;}
img, fieldset {border:0px;}
img {vertical-align:top;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;} 
dl, ul, ol, li {list-style:none;}
legend, .hide {position:absolute; width: 0; line-height:0; height: 0; font-size: 0; top:0; left:-10000px; overflow:hidden;}
.hidden {position:absolute; left:-10000px;}

caption {width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; position:static;}
select { border:1px solid #d5d5d5;}
a {color: #161616; text-decoration: none; cursor: pointer; }
a:hover,a:active,a:focus {color: #000; text-decoration:underline; }
iframe {border:none; overflow:hidden;}
strong {font-weight:bold;}

img { box-sizing:content-box; -moz-box-sizing:content-box;-webkit-box-sizing:content-box;}
img {border:0; max-width:100%;}

article, aside, canvas, video, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block;}

.clearfix {width:100%;}
.clearfix:after {content:"";display:block;visibility:hidden;clear:both;}

.clearfix2:after{display:block; visibility:hidden;clear:both;content:".";overflow:hidden;width:0;height:0;font-size:0;line-height:0;text-indent:-9999px;}
.clearfix2{display:block;}

/* 숨김텍스트처리 */
.skip { position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden;}

/* skip */
#skipnavi {position:fixed; left:0; top:0; width:100%; z-index:900;}
#skipnavi a {position:absolute; left:0; top:-9999px; display:block; width:100%; height:30px; color:#fff; font-size:13px; font-weight:bold; line-height:30px; text-align:center; background:#000;}
#skipnavi a:focus, #skipnavi a:active {top:0;}
#skipnavi a:hover {text-decoration:underline;}







/* HEADER */
#header {background-color:#fff; box-sizing:border-box; position:fixed; left:0; top:0; transition-duration:0.5s; -webkit-transition-duration:0.5s; padding-right:50px; padding-left:50px; height:130px; width:100%; z-index:999;}

/* GNB */
#gnb {position:relative;}

/* common style */

.scene_wrap {padding-top:100px;}

.hidden {opacity:0;}
.visible {opacity:1;}


/* BUTTON */
.btn_wrap {overflow:hidden;}
.btn_set {overflow:hidden;}
.btn_set + .btn_set {margin-top:10px;}
.btn_set .w_full {width:100%;}
.btn_set.btn_2ea .btn {float:left; width:48.8%;}
.btn_set.btn_2ea .btn + .btn {margin-left:2.4%;}
.btn {background-color:#fff; display:block; border:1px solid #d6d6d6; box-sizing:border-box; text-align:center; transition-duration:0.8s; -webkit-transition-duration:0.8s; padding-top:12px; padding-bottom:17px; height:50px;}
.btn span {display:inline-block; font-weight:500; line-height:14px; position:relative; transition-duration:0.3s; -webkit-transition-duration:0.3s; padding-right:24px; height:14px;}
.btn span:after {background:url(../images/common/icon_go.png) no-repeat 0 0; content:""; position:absolute; right:0; top:0; transition-duration:0.3s; -webkit-transition-duration:0.3s; height:14px; width:14px;}
.btn:hover {background-color:#f37321; border:1px solid #f37321;}
.btn:hover span {color:#fff;}
.btn:hover span:after {background-position:0 -15px;}

/* 휠아이콘 */
.icon_wheel {overflow:hidden; border:1px solid #fff; border-radius:20px; box-sizing:border-box; position:absolute; height:42px; width:30px;}
.icon_wheel .arrow {background:url(../images/common/arrow_wheel.gif) no-repeat 0 0; display:block; position:absolute; left:50%; margin-left:-5px; height:6px; width:10px;}
.icon_wheel .arrow.top {opacity:0.5; top:13px; animation:arrowTop 1s infinite; -webkit-animation:arrowTop 1s infinite;}
.icon_wheel .arrow.bt {animation:arrowBt 0.5s 0.4s infinite; -webkit-animation:arrowBt 0.5s 0.4s infinite; top:20px;}
@keyframes arrowTop {from {opacity:0.5;} to {opacity:1;}}
@keyframes arrowBt {from {opacity:1;} to {opacity:0.5;}}

@-webkit-keyframes arrowTop {0% {opacity:0.5;} 100% {opacity:1;}}
@-webkit-keyframes arrowBt {0% {opacity:1;} 100% {opacity:0.5;}}
