@charset "utf-8";

/* skip-go */
#skip-go {display:block;}
#skip-go dt {position:absolute; top:0; left:-1000px;}
#skip-go dd a {display:block; font-weight:bold; position:absolute; top:0; left:-1000px; font-size:120%; text-align:center; background-color:#000; z-index:1000;} 
#skip-go dd a:hover, 
#skip-go dd a:active, 
#skip-go dd a:focus{left:0; height:40px; width:100%; line-height:40px; color:#fff !important;}

.red {color: #ee2d2e;}

#wrap {width:100%; overflow:hidden;}

/* header */
#header {position: relative; width:1350px; height:100px; margin:0 auto;}
#header h1 {margin: 0 auto; padding-top:33px; text-align: center;}
#header a:hover {opacity: 0.5;}

#header .topmenu {position: absolute; left:0; top:23px; }
#header .topmenu a {float:left; width:36px; height:55px;  background: url(../gmi/cni/menu.gif) no-repeat left top; }
#header .topmenu a span {float:left; width:100%; text-align:center; font-size:75%; font-weight:bold; padding-top:42px; letter-spacing: 0px; color: #595959;}

#header .gnb {position: absolute; left:40px; top:35px;}
#header .gnb li {display:inline; margin-left:25px; }
#header .gnb li a {font-size:90%;}

#header .calendar {position: absolute; right:0; top:25px;}
#header .calendar .text {float:left; margin-right:13px;}
#header .calendar .text a {display:block; text-align: right; font-size: 90%; color: #999; line-height:16px;}
#header .calendar .text a span {display:block; font-size: 90%; }
#header .calendar .text .control {float:right; margin-top:7px;}
#header .calendar .text .control a {text-align: right; display:inline-block;}
#header .calendar .text .control a:nth-of-type(2) {margin: 0 10px;}

#header .calendar p.day {float:right; width:45px; height:45px; background: #00346a url(../gmi/cni/calendar_icon.png) no-repeat center 8px; border-radius: 50%; text-align: center;}
#header .calendar p.day span {display: block; color: #fff; font-weight:600; font-size: 80%; margin-top: 19px;}


/* container */
#container {width:100%; overflow: hidden;}

/* footer */
#footer {width:100%; overflow: hidden; background: #e6e6e6;}
.footer_con {width:1350px; margin:0 auto; padding: 25px 0;}
#footer a.logo {float:left; display:block; margin-top:8px;}
#footer a.logo img {margin-right:10px;}
#footer .viewer {float:right;}
#footer .viewer span {float:left; display:inline-block; font-size:90%; color: #717171; margin:10px 15px 0 0;}
#footer .viewer a {display:inline-block; width:36px; height:36px; text-indent:-9999px; border-radius: 30px; background: #858585; border-radius: 25px; margin-left:5px;}
#footer .viewer a:hover {background: #000;}
#footer .viewer a > i {float:left; width:100%; height:100%;}

i.down {display:inline-block; width:16px; height:15px; background: url(../gmi/cni/viewer_down.png) no-repeat left top; margin-left:8px;}
i.viewer_hc {background: url(../gmi/cni/viewer_icon.png) no-repeat 0px top;}
i.viewer_word {background: url(../gmi/cni/viewer_icon.png) no-repeat -36px top;}
i.viewer_ppt {background: url(../gmi/cni/viewer_icon.png) no-repeat -72px top;}
i.viewer_excel {background: url(../gmi/cni/viewer_icon.png) no-repeat -108px top;}
i.viewer_pdf {background: url(../gmi/cni/viewer_icon.png) no-repeat -144px top;}

.footer_bottom {position: relative; float:left; width:100%; margin-top:30px; padding: 10px 0 50px; border-top:1px solid #cdcdcd; overflow: hidden;}

/* .footer_bottom  ul.link {width:auto;}
.footer_bottom  ul.link li {display:inline-block; padding: 6px 0 9px 0; margin-right:25px;}
.footer_bottom  ul.link li a {font-size:95%; letter-spacing: -1px;}
.footer_bottom  ul.link li:nth-of-type(1) a {font-weight:600;} */
.footer_bottom  .link {width:auto;}
.footer_bottom  .link a {display:inline-block; padding: 6px 0 9px 0; margin-right:25px; font-size:95%; letter-spacing: -1px;}
.footer_bottom  .link a:nth-of-type(1){font-weight:600;}

.footer_bottom .copyright {width:100%; margin-top:5px;}
.footer_bottom .copyright address,
.footer_bottom .copyright span {font-size:90%; color: #787878; margin: 4px 0;}
.footer_bottom .copyright address {font-style:normal; display:inline-block; margin-right:10px;}
.footer_bottom .copyright span:nth-of-type(2) {display:block;}

.footer_bottom .family {position: absolute; right:0; top:20px;}
.footer_bottom .family a {display: block; width:200px; height:37px; line-height:37px; border-radius: 25px; font-size:90%; color: #fff; padding-left:20px; margin-bottom:5px; background: #858585 url(../gmi/cni/family_arr.png) no-repeat 90% 50%;}
.footer_bottom .family a:hover {background-color: #000; text-decoration: none;}

/********************** 1400px **********************/
@media all and (max-width:1400px){
#header,
.footer_con {width:100%;}

/* header */
#header .topmenu {left: 20px;}
#header .gnb {left: 60px;}
#header .calendar {right:20px;}

/* footer */
.footer_con {padding: 25px 20px;}
}

/********************** 768px **********************/
@media all and (max-width:768px){
/* header */
#header .gnb {display:none;}


/* footer */
.footer_bottom .copyright address {display: block;}

}

/********************** 640px **********************/
@media all and (max-width:640px){
/* header */
#header .calendar {display:none;}

/* footer */
.footer_con {position: relative;}
#footer a.logo {width:100%; text-align: center; margin-bottom:15px;}
#footer a.logo img {width: auto; height: 20px; margin-right:5px;}
.footer_bottom .copyright {text-align: center;}
.footer_bottom .link {width: 100%; text-align: center;}
.footer_bottom .link a {margin: 0 2px; font-size: 90%; }

#footer .viewer {float:inherit; width:270px; text-align: center; margin:0 auto 0;}
.footer_bottom .family {position: inherit;}
.footer_bottom .family a {display: inline-block; width: 49%; padding-left:15px; font-size:80%;}
}
