@charset "utf-8";

/* skip-go */
#skip-go {display:block;}
#skip-go dt {position:absolute; top:0; left:-1000px;}
#skip-go dd a {display:block; font-weight:bold; position:absolute; top:0; left:-1000px; font-size:120%; text-align:center; background-color:#000; z-index:1000;} 
#skip-go dd a:hover, 
#skip-go dd a:active, 
#skip-go dd a:focus{left:0; height:40px; width:100%; line-height:40px; color:#fff !important;}

.red {color: #ee2d2e;}

#wrap {width:100%; overflow:hidden; background: url(../gmi/cni/header_bg.gif) repeat-x center top;}

/* header */
#header {position: relative; width:1350px; height:150px; margin:0 auto;}
#header h1 {margin: 0 auto; padding-top:29px; text-align: center; height:90px;}
#header a:hover {opacity: 0.5;}

#header .global {position: absolute; left:0; top:35px;}
#header .global li {display:inline; margin-right:25px;}
#header .global li a {font-size:90%; line-height:14px; color: #999;}
#header .global li a i {display:inline-block; width:12px; height: 14px; background: url(../gmi/cni/gnb_icon.gif) no-repeat left top; vertical-align: middle; margin-right:8px;}
#header .global li:nth-of-type(2) a i {background-position: -14px top;}
#header .global li:nth-of-type(3) a i {background-position: -27px top;}

#header .calendar {position: absolute; right:0; top:20px; width:200px; height:60px;}
#header .calendar .text > a {display:block; float: left; width: 140px; text-align: right; font-size: 90%; color: #999; line-height:16px;}
#header .calendar .text > a span {display:block; font-size: 90%; }

#header .calendar p.day {float:right; width:45px; height:45px; background: #00346a url(../gmi/cni/calendar_icon.png) no-repeat center 8px; border-radius: 50%; text-align: center;}
#header .calendar p.day span {display: block; color: #fff; font-weight:600; font-size: 80%; margin-top: 19px;}
#header .bx-controls {position: absolute; top: 40px; right: 60px; left: inherit; width: 35px; height: 9px;}
#header .bx-controls-direction {width: 35px; height: 9px; margin: 0;}
#header .bx-controls-direction a {width:5px; height:9px; background: url(../gmi/cni/calendar_next.png) no-repeat left top;}
#header a.bx-next {background-position: -5px top;}
#header .bx-controls-auto {top: -11px; right: 10px;}
#header .bx-controls-auto a {width:7px; height: 9px; }
#header .bx-controls-auto a:before {background: url(../gmi/cni/calendar_control.png); margin: -2px 0 0 -2px; background-position: 7px top;}
#header a.bx-start:before {background-position: 0px top;}

/* menu */
#header .layerGnb{z-index:500; width:100%; height: 60px;}	
#header .layerGnb .bgLayer{display:none; position:fixed; top:150px; left:0; right:0;height:242px; background: #f8f8f8; z-index:400; border-top: 1px solid #eee;}
#header .layerGnb .wrapCnt {width:100%; height:100%;}
#header .gnb {/* float:right;  */ width:100%; height:100%; text-align:center; }
#header .gnb:after{content:''; display:block; clear:both;}
#header .gnb > ul > li{display:inline-block; float:left; position:relative; width: 14.28%; line-height:60px;}
#header .gnb li a{display:block; font-size:120%;}
#header .gnb li a:hover,
#header .gnb li a:focus,
#header .gnb li.active > a{text-decoration:none;}
#header .gnb li.active > a{color:#ee2d2e; opacity: 1;}

#header .gnb .depth2{display:none; position:absolute; top:60px; right:0; left:0; height:242px; z-index:500; padding: 10px 0; border-left: 1px solid #eee;}
#header .gnb ul > li:nth-of-type(1) .depth2 {border-left: none;}
#header .gnb .depth2 > li{display:block; width:100%; margin:0; line-height: 20px;}
#header .gnb .depth2 li a {font-size:95%; text-align:center; padding:4px 0 4px 0;}
#header .gnb .depth2 li a:hover,
#header .gnb .depth2 li a:active,
#header .gnb .depth2 li a:focus{color:#ee2d2e; opacity: 1; text-decoration:underline;}
#header .gnb .depth2 li.on a{color:#333;font-weight:600; text-decoration:underline;}
#header .gnb .depth2 li.on a:hover,
#header .gnb .depth2 li.on a:active,
#header .gnb .depth2 li.on a:focus{color:#ee2d2e;}

#header .m_logo,
.hidePc{display:none;}

/* container */
#container {width:100%; overflow: hidden;}

/* footer */
#footer {width:100%; background: #e6e6e6; display: inline-block;}
.footer_con {width:1350px; margin:0 auto; padding: 25px 0;}
#footer a.logo {float:left; display:block; margin-top:8px;}
#footer a.logo img {margin-right:10px;}
#footer .viewer {float:right;}
#footer .viewer span {float:left; display:inline-block; font-size:90%; color: #717171; margin:10px 15px 0 0;}
#footer .viewer a {display:inline-block; width:36px; height:36px; text-indent:-9999px; border-radius: 30px; background: #858585; border-radius: 25px; margin-left:5px;}
#footer .viewer a:hover {background: #000;}
#footer .viewer a > i {float:left; width:100%; height:100%;}

i.down {display:inline-block; width:16px; height:15px; background: url(../gmi/cni/viewer_down.png) no-repeat left top; margin-left:8px;}
i.viewer_hc {background: url(../gmi/cni/viewer_icon.png) no-repeat 0px top;}
i.viewer_word {background: url(../gmi/cni/viewer_icon.png) no-repeat -36px top;}
i.viewer_ppt {background: url(../gmi/cni/viewer_icon.png) no-repeat -72px top;}
i.viewer_excel {background: url(../gmi/cni/viewer_icon.png) no-repeat -108px top;}
i.viewer_pdf {background: url(../gmi/cni/viewer_icon.png) no-repeat -144px top;}

.footer_bottom {position: relative; float:left; width:100%; margin-top:30px; padding: 10px 0 50px; border-top:1px solid #cdcdcd;}
.footer_bottom  .link {width:auto;}
.footer_bottom  .link a {display:inline-block; padding: 6px 0 9px 0; margin-right:25px; font-size:95%; letter-spacing: -1px;}
.footer_bottom  .link a:nth-of-type(1){font-weight:600;}

.footer_bottom .copyright {width:100%; margin-top:5px;}
.footer_bottom .copyright address,
.footer_bottom .copyright span {font-size:90%; color: #787878; margin: 4px 0;}
.footer_bottom .copyright address {font-style:normal; display:inline-block; margin-right:10px;}
.footer_bottom .copyright span:nth-of-type(2) {display:block;}

.footer_bottom .family {position: absolute; right:0; top:20px;}
.footer_bottom .family_open {position: relative; width:200px;}
.footer_bottom .family > .family_open > a {position: relative; display: block; width:100%; height:37px; line-height:37px; border-radius: 25px; font-size:90%; color: #fff; padding-left:20px; margin-bottom:5px; background: #858585;}
.footer_bottom .family > .family_open > a:hover {background-color: #000; text-decoration: none;}
.footer_bottom .family > .family_open > a::before {content: ''; position: absolute; top: 15px; right: 15px; border-top: none;
border-bottom: 6px solid #fff;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
transition: transform 0.35s ease-in-out;
transform: rotate(180deg);}
.footer_bottom .family > .family_open > a.openbox::before {transform: rotate(0deg);}
.footer_bottom .family_open p {display: none; position: absolute; bottom: 42px; width: 100%; padding:10px 12px 10px 12px; background: #858585; border-radius: 25px; box-sizing: border-box;}
.footer_bottom .family_open p a {display:block; width:100%; padding: 8px 0px 8px 8px; font-size:90%; color: #fff; border-bottom:1px solid #a6a6a6;}
.footer_bottom .family_open:nth-of-type(2) p {height:283px; overflow-y: scroll;}
.footer_bottom .family_open p a:last-child {border-bottom:none;}

/********************** 1400px **********************/
@media all and (max-width:1400px){
#header,
.footer_con {width:100%;}

/* header */
#header .global {left: 20px;}
#header .calendar {right:20px;}

/* footer */
.footer_con {padding: 25px 20px;}
}

/********************** 1024px **********************/
@media all and (max-width:1024px){
/* header */
#header .global li {margin-right:15px;}
}

/********************** 768px **********************/
@media all and (max-width:785px){
#wrap {background: none;}


/* header */
#header {height:90px;}
#header .m_logo {display:block; text-align: center; width:100%; margin-top:12px;}
#header .m_logo img {height: 20px;}

#header .global {left:0; top:42px; width:100%;}
#header .global ul {width:100%;}
#header .global li {width: 47%; float: left; text-align: center; border: 1px solid #ccc; margin: 0 0 0 2%; padding: 5px 0;}
#header .global li:nth-of-type(1) {display:none;}

#header .layerGnb {display:none;position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.7);z-index:9999; height:100%;}
#header .layerGnb .wrapCnt{overflow:scroll;position:absolute;top:0;bottom:0;left:0;width:260px;background:#fff;}
#header .gnb {float:none; width:100%; height:auto; margin-top:48px; border-bottom:1px solid #ddd;}
#header .gnb a {opacity: 1;}
#header .gnb ul {width:100%;}
#header .gnb ul li{display:block; width:100%; padding: 0; line-height:45px;}
#header .gnb > ul > li:last-child {padding: 0;}
#header .gnb > ul > li > a{position:relative;padding:0px 22px !important; font-size: 120%; text-align:left;border-top:1px solid #ddd;}
#header .gnb > ul > li > a:before{content:''; display:inline-block; position:absolute; top:50%; right:34px; width:13px; height:9px; margin-top:-4px; background: url(../gmi/cni/mmenu_icon.gif) no-repeat left top;/* transform:rotate(90deg); */}


#header .gnb > ul > li > a:hover,
#header .gnb > ul > li > a:active,
#header .gnb > ul > li > a:focus{color:#ee2d2e;}
/* #header .gnb > ul > li > a:hover:before,
#header .gnb li.active > a:before{background-position: left -9px;} */
#header .gnb li.on > a{background:#2a4c76}

#header .gnb .depth2{position:static;width:100%;height:auto;padding:5px 0;border:0; border-top:1px solid #ddd; background: #f8f8f8;}
#header .gnb .depth2 li a{float:inherit; width:100%; padding:8px 23px; text-decoration:none !important; text-align: left; box-sizing:border-box; font-size:100%; background:#f8f8f8;}
#header .gnb .depth2 li a:hover,
#header .gnb .depth2 li a:active,
#header .gnb .depth2 li a:focus{/* background: #ddd; */}
#header .gnb .depth2 li:first-child a{border:0;}
#header .gnb .depth2 li a br{display:none}
#header .gnb .depth2 .on a{text-decoration:underline !important;background:#f8f8f8;}

#header .m_menu {display:block; position: absolute; left:20px; top:19px; }
#header .m_menu a {float:left; width:36px; height:55px;  background: url(../gmi/cni/menu.gif) no-repeat left top; }
#header .m_menu a span {float:left; width:100%; text-align:center; font-size:75%; font-weight:bold; padding-top:42px; letter-spacing: 0px; color: #595959;}

.hidePc{display:block;}
#header .btnToggleMn{position:absolute; top:19px; left:20px; }
#header .btnToggleMn a{display:block; position:relative; width:36px; height:55px; background: url(../gmi/cni/menu.gif) no-repeat left top;}
#header .btnToggleMn a span {float:left; width:100%; text-align:center; font-size:75%; font-weight:bold; padding-top:42px; letter-spacing: 0px; color: #595959;}


/* footer */
.footer_bottom .copyright address {display: block;}

}

/********************** 640px **********************/
@media all and (max-width:640px){
/* header */
#header {height: 70px;}
#header h1 {padding-top: 22px;}
#header h1 img {height: 26px;}
#header .btnToggleMn {top: 11px;}
#header .btnToggleMn a {background-position: center top; background-size: 30px auto;}
#header .btnToggleMn a span {padding-top:36px;}
#header .calendar {display:none;}

/* footer */
.footer_con {position: relative;}
#footer a.logo {width:100%; text-align: center; margin-bottom:15px;}
#footer a.logo img {width: auto; height: 20px; margin-right:5px;}
.footer_bottom .copyright {text-align: center;}
.footer_bottom .link {width: 100%; text-align: center;}
.footer_bottom .link a {margin: 0 2px; font-size: 90%; }
.footer_bottom .link a:nth-of-type(4) {display:none;}

#footer .viewer {float:inherit; width:270px; text-align: center; margin:0 auto 0;}
.footer_bottom .family {position: inherit;}
.footer_bottom .family_open {display: inline-block; width: 49%;}
.footer_bottom .family > .family_open > a {font-size:80%;}
}
