@charset "utf-8";

h2 {font-size:290%; font-weight:300; color: #000;}

/* main_visual */
.main_visual {position: relative; overflow:hidden; width:100%; height:auto; margin:0;}

.main_visual .main_control {position: absolute; width:max-content; text-align: center; left:0; right:0; margin: 0 auto; bottom:40px;}
.main_visual .main_control a {display:inline-block; width:10px; height:11px; background: #bfbfbf; border-radius: 50%; margin: 0 5px; text-indent:-9999px; vertical-align: middle;}
.main_visual .main_control a.on {background: #454545;}
.main_visual .main_control a:nth-of-type(1) {width:24px; height:24px; background: url(../gmi/main/visual_stop.png) no-repeat left top;}


.main_visual .main_move a {display:block; width:76px; height:76px; text-indent:-9999px; position: absolute;}
.main_visual .main_move a:hover {opacity: 0.5;}
.main_visual .main_move a:nth-of-type(1) {background: url(../gmi/main/main_prev.png) no-repeat left top; left:0; top:45%;}
.main_visual .main_move a:nth-of-type(2) {background: url(../gmi/main/main_next.png) no-repeat left top; right:0; top:45%;}


/* notice */
.notice {width:100%; height:60px; background: #f8f8f8;}
.notice h2 {float:left; display:block; color: #acacac; font-size:120%; font-weight:normal; letter-spacing: 0px; margin-top:22px;}
.notice_list {width:1350px; height:100%; margin:0 auto;;}
.notice_list p {float:left; width:auto; margin: 19px 0 0 40px;}
.notice_list p span:nth-of-type(1) {color: #808080; margin-right:5px;}
.notice_list p span.day {float:left; color: #a4a4a4; font-size:90%; margin: 5px 15px 0 0;}
.notice a.campaign {display:block; float:right; width:24.5%; height:60px; background: url(../gmi/main/campaign_bg.png) no-repeat left top; text-align: center; font-size:120%; color: #29304a; line-height:60px; background-size: 100% 100%;}
.notice a.campaign i {display:inline-block; margin: 0 0 0 10px; vertical-align: middle; width:20px; height:28px; background: url(../gmi/main/campaign_icon.gif) no-repeat left top; }

/* schedule */
.schedule {width:1350px; margin:50px auto; overflow: hidden;}
.schedule_month {float:left; width:72px; color: #515151; font-weight:bold;}
.schedule_month p {font-weight:bold; margin-left:5px;}
.schedule_month span {font-size: 130%; font-weight:bold; margin-left:4px;}
.schedule_month a {display:block; width:100%; height:23px; padding-left:7px; margin-top: 3px; line-height:23px; border:1px solid #c2c2c2;border-radius: 15px; font-size:80%; color: #8a8a8a;background: url(../gmi/main/schedule_month_arr.gif) no-repeat 87% 50%;}
.schedule_month a:hover {color: #fff; border:none; background: #00346a url(../gmi/main/schedule_month_arr_on.png) no-repeat 87% 50%; text-decoration: none;}

.schedule_day {float:right; width:92%; background: url(../gmi/main/schedule_day_line.gif) repeat-x left top;}
.schedule_day ul {width:auto; height:auto; overflow: hidden;}
.schedule_day ul li {float:left; display: block; width:40px; height:55px; background: url(../gmi/main/schedule_day_none.gif) no-repeat center 10px; font-size:95%; font-weight:bold; color: #979797; padding-top:33px; margin-left: 5.3%;}
.schedule_day ul li.today {background: url(../gmi/main/schedule_day_today.gif) no-repeat center top; padding-top:0px; }
.schedule_day ul li.today a {color: #ee2d2e;}
.schedule_day ul li.after {background: url(../gmi/main/schedule_day_after.gif) no-repeat center top; padding-top:0px; }
.schedule_day ul li a {float:left; width:100%; height:100%; font-size:95%; font-weight:bold; color: #979797; padding-top:33px; }
.schedule_day ul li a:hover/* ,
.schedule_day ul li a:active,
.schedule_day ul li a:focus */ {background: url(../gmi/main/schedule_day_today.gif) no-repeat center top; color: #ee2d2e;}

.schedule_day > a {float:left; display: block; width:19px; height:27px;  text-indent:-9999px;}
.schedule_day > a:hover {opacity: 0.5;}
.schedule_day > a:nth-of-type(1) {background: url(../gmi/main/schedule_day_prev.gif) no-repeat left top;}
.schedule_day > a:nth-of-type(2) {float:right; background: url(../gmi/main/schedule_day_next.gif) no-repeat left top;}


.schedule_poster {float:left; width:100%; height:auto; margin-top:35px;}
.schedule_poster ul {width:100%; height:auto;}
.schedule_poster ul li {position: relative; float:left; width:20%; height:426px; z-index: 1;}
.schedule_poster ul li.later-day {background: #fff; opacity: 0.3;}
.schedule_poster ul li.later-day:hover {opacity: 1;}

.schedule_poster ul span.d-day {position: absolute; left:0; top:0; width:53px; height:60px; background: url(../gmi/main/dday_bg.png) no-repeat left top; text-align: center; font-size:90%; padding-top:15px; color:#fff; z-index: 3;}
.schedule_poster ul span.l-day {position: absolute; left:0; top:0; width:53px; height:60px; background: url(../gmi/main/dday_bg_black.png) no-repeat left top; text-align: center; font-size:90%; padding-top:15px; color:#fff; z-index: 3;}

.schedule_poster ul li img {height:386px;}
.schedule_poster ul li p.black {position: absolute; left:0; top:0; display: block; width:100%; height:386px; background: linear-gradient(to top, #000, transparent 70%); z-index: 2;}
.schedule_poster ul li p.black span {position: absolute; left:0; bottom:5px; width:100%; height:30px; display:block; text-align: center; color: #fff;}

.schedule_poster div.on {display:none;}
.schedule_poster ul li a:hover .on {display:block; position: absolute; left:0; bottom: 0px; width:100%; height:140px; border-bottom:1px solid #000; z-index: 4; background: url(../gmi/main/schedule_poster_bg.png) no-repeat left top; background-size: cover;}
.schedule_poster .on {color: #3d3d3d; font-size:90%; padding:43px 0 0 20px;}
.schedule_poster .on p {display:block; width:100%; font-size:170%; font-weight:500; margin-bottom: 10px;}
.schedule_poster .on span {display:inline-block; width:26px; height:26px; color: #fff; background: #b9b9b9; border-radius: 50%; text-align: center; line-height:28px; font-weight:500; font-size:60%; margin-left:7px; vertical-align: top;} 

/* media */
.media {width:100%; height:auto; padding: 80px 0; overflow: hidden; background: #f9f9f9; text-align: center; }
.media h2 {font-size: 220%; color: #333; font-weight:500; margin-bottom:45px;}
.media_list {width:1350px; margin:0 auto; position: relative;}
.media_list ul {width:100%;}
.media_list li {float:left; width:23.87%; height:325px; margin-left:1.5%; position: relative; z-index: 1;}
.media_list li:hover {opacity: 0.5;}
.media_list li:nth-of-type(1) {margin-left:0;}

.media_list li.rec_media {border:5px solid #e3bdbd; background: #fff;}
.media_list li.rec_media .text dt {color: #ee2d2e;}
.media_list li.rec_media .text dt span.underline {border:3px solid #e3bdbd;}
.media_list li.rec_media .text dd {color: #333;}
.media_list li.stand_media {border:5px solid #cdd8e3; background: #fff;}
.media_list li.stand_media .text dt {color: #29304a;}
.media_list li.stand_media .text dt span.underline {border:3px solid #cdd8e3;}
.media_list li.stand_media .text dd {color: #333;}

.media_list li .text {position: absolute; width:100%; height:100%; left:0; top:0;   z-index: 2;}
.media_list li .text p.black {width:100%; height:100%; background: #000; opacity: 0.6;}
.media_list li .text dl {position: absolute; left:0; right:0; top:28%; margin:0 auto; z-index: 3;}
.media_list li .text dt {width:100%; padding: 0 12%; color: #fff; font-size:160%; line-height:34px; word-break: keep-all;}
.media_list li .text dt span.underline {width: 175px; display:block; border-radius: 5px; border:3px solid #fff; margin:15px auto 0;}
.media_list li .text dd {color: #fff; margin-top:20px; font-size:110%; line-height: 26px;}
.media_list li .text p.state {position: absolute; top:15px; right:15px;  z-index: 4;}
.media_list li .text p span {float:left; margin-left:5px; display:block; width:40px; height:40px; border-radius: 50%; color: #fff; font-size:90%; line-height: 40px;}
span.rec {background:  #ee2d2e;}
span.stand {background:  #00346a;}
span.end {background:  #808080;}
span.edu {background:  #000;}

.media_list p.counter {float:left; width:100%; margin-top:30px; color: #959595; font-size:90%;}
.media_list p.counter span {font-size:120%;}

.media_list a.media_prev {position: absolute; left:-60px; top:138px; display:block; width:29px; height:50px; background: url(../gmi/main/media_prev.png) no-repeat left top; text-indent:-9999px;}
.media_list a.media_next {position: absolute; right:-60px; top:138px; display: block; width:29px; height:50px; background: url(../gmi/main/media_next.png) no-repeat left top; text-indent:-9999px;}

/* village_media */
.village_media {width:100%; height:400px; margin:0 auto; text-align: center; background: url(../gmi/main/village_media_bg.jpg) no-repeat center top; }
.village_media h2 {color: #fff; padding-top:80px;}
.village_media span {display:block; margin-top:25px; color: #fff; font-size:100%; line-height: 26px;}
.village_media p {margin-top:50px;}
.village_media p a {display:inline-block; border:1px solid #fff; font-size:90%; width:auto; height:33px; line-height:33px; color: #fff; padding:0 30px; border-radius: 25px; margin:0 2px;}
.village_media p a:hover {background: #40bac1; border:1px solid #40bac1; text-decoration: none;}

/* rental */
.rental {width:100%; height:610px; margin: 0 auto; background: url(../gmi/main/rental_bg.jpg) no-repeat center top;}
.banner_list {position: relative; width:1350px; margin:0 auto; }
.banner_list h2 {font-weight: 500; margin-bottom:20px;}
.rental_equip {position: absolute; left: 165px; top: 100px;}
.rental_place {position: absolute; right: 70px; top: 295px; text-align: right;}
.rental_place h2,
.rental_place p.text,
.banner_list .rental_place a.btn {color: #fff;}
.banner_list .rental_place a.btn {background: url(../gmi/main/mbtn_arr_on.png) no-repeat 85% 50%;}
.banner_list .rental_place a.btn:hover {background: #fff url(../gmi/main/mbtn_arr_off.png) no-repeat 85% 50%; color: #000; border:2px solid #fff;}

.banner_list p.text {display:block; line-height: 27px; margin-bottom:20px;}
.banner_list a.btn {display:inline-block; height:38px; line-height: 38px; color: #454545; border:2px solid #b7b7b7; border-radius:25px; padding: 0 84px 0 30px; background: url(../gmi/main/mbtn_arr_off.png) no-repeat 85% 50%;}
.banner_list a.btn:hover {border:2px solid #000; color: #fff; background: #000 url(../gmi/main/mbtn_arr_on.png) no-repeat 85% 50%; text-decoration: none;}
.banner_list p.photo {margin-top:65px;}
.banner_list p.photo a {float:left; display:block; border-top:6px solid #fff; border-left:6px solid #fff; border-right:6px solid #fff;  box-shadow: 9px 12px 20px rgba(0, 0, 0, 0.2) ; -webkit-box-shadow: 9px 12px 20px rgba(0, 0, 0, 0.2)  ; 
-moz-box-shadow: 9px 12px 20px rgba(0, 0, 0, 0.2); background: #fff;}
.banner_list p.photo a:nth-of-type(1) {margin-right:20px;}
.banner_list p.photo a img:hover {opacity: 0.5;}
.banner_list p.photo a span{display:block; height:50px; line-height: 50px; background: #fff; text-align: center;}

/* experience */
.experience {width:100%; height:550px; margin: 0 auto; background: url(../gmi/main/experience_bg.jpg) no-repeat center top;}
.experience .banner_list {padding: 150px 0 0 25px;}
.experience .banner_list a.btn {border:2px solid #000; color: #fff; background: #000 url(../gmi/main/mbtn_arr_on.png) no-repeat 85% 50%;}
.experience .banner_list a.btn:hover {color: #454545; border:2px solid #b7b7b7; background: url(../gmi/main/mbtn_arr_off.png) no-repeat 85% 50%;}

/********************** 1350px **********************/
@media all and (max-width:1350px){
.schedule,
.media_list,
.banner_list,
.village_media {width:100%; padding: 0 20px;}
.notice_list {width:100%; padding: 0 0 0 20px;}

/* schedule */
.schedule_poster ul li,
.schedule_poster ul li img {height: auto;}
.schedule_poster ul li p.black {height: 100%;}

/* media */
.media_list li {height: auto;}
.media_list li .text dt {font-size: 135%; line-height:28px;}
.media_list li .text dd {font-size: 95%; margin-top: 15px; line-height: 21px;}

/* rental */
.rental {background-position: -500px top;}
.rental_equip {left: 40px;}
.rental_place {right: 40px;}

/* experience */
.experience .banner_list {padding: 150px 0 0 40px;}

}

/********************** 1200px **********************/
@media all and (max-width:1200px){
/* schedule */
.schedule_poster .on {padding: 28px 0 0 15px;}
.schedule_poster .on p {font-size: 140%; margin-bottom: 5px;}
.schedule_poster ul li a:hover .on {height:100px;}

/* experience */
.experience {height: 400px; background-size:cover; background-position: -100px top;}
.experience .banner_list {padding: 110px 0 0 40px;}
.experience p.text {width: 380px;}
.experience p.text br {display:none;}



}

/********************** 1040px **********************/
@media all and (max-width:1040px){

h2 {font-size: 190%;}

/* notice */
.notice_list p a {float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.notice_list p span.day {display:none;}
.notice a.campaign {font-size:110%;}

/* schedule */
.schedule_poster ul li p.black span {font-size: 90%;}

/* media */
.media {padding: 50px 0;}
.media h2 {font-size:190%; margin-bottom:30px;}

/* village_media */
.village_media {height: auto; padding: 50px 20px; background-size : cover;}
.village_media h2 {padding-top: 0px; font-weight: 500;}
.village_media p {margin-top:30px;}

/* rental */
.rental {height:520px; background-position: -700px top;}
.rental_equip {top: 70px;}
.rental_equip p.text {width: 420px;}
.rental_place {top: 200px;}
.rental_place p.text {width: 310px;}
.rental_place p.text br {display:none;}
.banner_list p.photo {margin-top:40px;}
.banner_list p.photo a img {width: 200px;}

/* experience */
.experience {background-position: -150px top;}

}

/********************** 768px **********************/
@media all and (max-width:768px){
/* notice */
.notice_list p {width:75%; margin: 19px 0 0 0;}
.notice_list p a {width: 90%;}
.notice_list p span.day,
.notice h2 {display:none;}

/* schedule */
.schedule_poster .on {font-size: 80%;}
.schedule_poster .on p {font-size: 130%;}
.schedule_poster .on span {width: 20px; height: 20px; line-height: 20px;}
.schedule_poster ul li p.black span {padding: 0 20px;}

/* media */

/* rental */
.rental {height:360px; background-size:cover; background-position: -330px top;}
.rental_equip {top: 70px;}
.rental_equip p.text {width: 320px; line-height: 24px;}
.banner_list h2 {margin-bottom: 10px;}
.banner_list p.photo {display:none;}

.rental_place {top:120px;}
.rental_place p.text {width: 270px;}


/* village_media */
.village_media span {padding: 0 20px;}
.village_media span br {display:none;}

/* experience */
.experience {height: 250px; background-position: 50px top;}
.experience .banner_list {padding: 50px 0 0 40px;}
.experience p.text {line-height: 24px;}



}

/********************** 640px **********************/
@media all and (max-width:640px){
/* notice */
.notice_list p {width: 70%;}
.notice_list p span:nth-of-type(1) {display:none;}
.notice_list p a {font-size: 95%;}
.notice a.campaign {font-size: 90%; width: 30%;}
.notice a.campaign i {width: 15px; height: 23px; margin-left:5px; background-size: 100% 100%;}

/* schedule */
.schedule_poster .on {padding: 35px 0 0 20px;}
.schedule_poster ul li, 
.schedule_poster ul li img {width:100%;}

/* media */
.media_list li {width:100%; margin: 0;}
.media_list li a img {width: 100%; height: auto;}


/* village_media */
.village_media {height:200px; background: url(../gmi/main/village_media_bg_m.jpg) no-repeat center top; padding: 50px 20px 0 20px;}
.village_media span {display:none; padding: 0 0px; font-size: 90%; line-height:22px;}
.village_media p {margin-top: 15px;}
.village_media p a {font-size:80%; padding: 0 15px;}

/* rental */
.rental {height: auto; background:none;}
.banner_list {padding: 0;}
.banner_list h2 {font-size: 150%;}
.banner_list p.text {width:100%; font-size: 85%; line-height:20px; margin-bottom:10px;}
.banner_list a.btn {font-size: 80%; height: 30px; line-height: 30px; padding: 0 54px 0 20px;}
.rental_equip, 
.rental_place {width:100%; height:200px; position: initial; text-align: left; background-size:auto 100%; padding:30px 30px 0 30px;}
.rental_equip {background: url(../gmi/main/rental_bg_m01.jpg) no-repeat right top;}
.rental_place {background: url(../gmi/main/rental_bg_m02.jpg) no-repeat left top;}

/* experience */
.experience {height:200px; background: url(../gmi/main/experience_bg_m.jpg) no-repeat center top;}
.experience .banner_list {height:100%; padding:30px 30px 0 30px; }
}