@charset "utf-8";

/* skip-go */
#skip-go {display:block;}
#skip-go dt {position:absolute; top:0; left:-1000px;}
#skip-go dd a {display:block; font-weight:bold; position:absolute; top:0; left:-1000px; font-size:120%; text-align:center; background-color:#000; z-index:1000;} 
#skip-go dd a:hover, 
#skip-go dd a:active, 
#skip-go dd a:focus{left:0; height:40px; width:100%; line-height:40px; color:#fff !important;}


#wrap {width:100%; overflow:hidden;}

/* header */
#header {position: relative; width:1200px; height:90px; margin:0 auto; z-index:10;}
#header h1 {float:left; margin-top: 20px;}

#header .global {position: absolute; right:0; top:0px;}
#header .global li {display:inline; margin-left:15px;}
#header .global li a {font-size:80%; color: #979797;}

/* #header .menu {float:right; width:auto; margin:40px 0 0 0;}
#header .menu li {display: inline; margin: 0 40px;}
#header .menu li:last-child {margin: 0 0 0 40px;}
#header .menu li a {font-size:130%;} */

/* menu */
#header .layerGnb{z-index:500; width:100%; height: 100%;}	
#header .layerGnb .bgLayer{display:none; position:fixed; top:90px; left:0; right:0;height:242px; background:#fb5c05; z-index:400;}
#header .layerGnb .wrapCnt {width:100%; height:100%;}
#header .gnb {width:100%; height:100%; margin:0 auto; text-align:center; font-size:0; border:1px solid red;}
#header .gnb:after{content:''; display:block; clear:both;}
/* #header .gnb>ul>li{margin-left:-3px} */
#header .gnb > ul > li{display:inline-block; position:relative; margin: 0 40px;}
/* #header .gnb li .txt{line-height:0;font-size:0;text-indent:-9999px;} */
#header .gnb li a{display:block;  /* padding:16px 70px; */ font-size:130%;}
#header .gnb li a:hover,
#header .gnb li a:focus,
#header .gnb li.active > a{text-decoration:none;}
#header .gnb li.active > a{color:#fb5c05;}


#header .gnb .depth2{display:none; position:absolute; top:54px; right:0; left:0; height:215px; padding:14px 0; z-index:500;}
#header .gnb .depth2 li{display:block;}
#header .gnb .depth2 li a{/* padding:8px 10px 8px 18px; */color:#333;font-size:14px;font-weight:normal;text-align:left;}
#header .gnb .depth2 li a:hover,
#header .gnb .depth2 li a:active,
#header .gnb .depth2 li a:focus{color:#fff;background:#333;}
#header .gnb .depth2 li.on a{color:#333;font-weight:600;text-decoration:underline;}
#header .gnb .depth2 li.on a:hover,
#header .gnb .depth2 li.on a:active,
#header .gnb .depth2 li.on a:focus{color:#fff}

#header .gnb>ul>li>a{position:relative}
#header .gnb>ul>li>a:hover:before,
#header .gnb li.active > a:before{content:'';display:block;position:absolute;bottom:0;left:50%;margin-left:-4px;border:7px solid transparent;border-bottom-color:#fff}

/* .modal_wrap_header{display:none;width:100%;height:155px;position:fixed;background:rgba(61,63,71,0.9);z-index:103}
#wrap_header.no_shadow{box-shadow:none} */
.hidePc{display:none;}

/* container */
#container {width:100%; overflow: hidden;}

/* footer */
#footer {width:100%; overflow: hidden; border-top:1px solid #dddddd; background: #ececec;}
#footer .link {width:100%; background: #fff;}
#footer .link ul {width:1200px; margin:0 auto; border-bottom:1px solid #dddddd;}
#footer .link ul li {display:inline-block; padding: 6px 0 9px 0; margin-right:25px;}
#footer .link ul li a {font-size:95%; letter-spacing: -1px;}
#footer .copyright {width:1200px; margin:0 auto; padding:20px 0 30px;}
#footer .copyright address,
#footer .copyright span {font-size:90%; color: #7f7f7f;}
#footer .copyright address {font-style:normal; display:inline-block; margin-right:10px;}
#footer .copyright span:nth-of-type(2) {display:block;}

/********************** 1240px **********************/
@media all and (max-width:1240px){
#header,
#footer .link ul,
#footer .copyright {width:100%;}

#header,.visual,.pagemenu,.wrap_content{width:92%}
	#header .gnb li a{padding:16px 60px;font-size:16px;letter-spacing:-1px}
	#header .gnb .depth2 li a{padding-left:10px}	
    .aside_sub{top:20px}

    
    
}

/********************** 768px **********************/
@media all and (max-width:768px){
    #wrap_header{background:#fff}
	#header{width:100%;height:71px;border-bottom:1px solid #c10b12}

	#header h1.logo{top:50%;left:50%;width:97px;height:51px;margin:-25px 0 0 -49px;background-position-y:-70px}
	#header h1.logo a{height:100%}

	#header .layerGnb .logo{position:static;margin-bottom:0;padding:20px 0 25px}
	#header .layerGnb .logo a{display:block;width:97px;height:51px;margin:0 auto;text-indent:-9999px;background-position:-101px -70px}
	#header #wrap_global{float:none;width:100%;padding:0 0 15px;text-align:center;}

	#header #wrap_global #util{display:block;position:relative;top:inherit;right:inherit;width:270px;margin:0 auto}
	#header #wrap_global #util:after{content:'';display:block;clear:both}
	#header #wrap_global #util li{padding:0;box-sizing:border-box;margin:0 3px}
	#header #wrap_global #util li:before,#header #wrap_global #util li:first-child{display:none}
	#header #wrap_global #util li strong.city{color:#ffe064}
	#header #wrap_global #util a{line-height:42px}
	#header #wrap_global li{width:70px;border:1px solid #838794}
	#header #wrap_global li:last-child{width:112px}
	#header #wrap_global li a{display:block;margin:0;padding:0;color:#fff;font-size:13px;text-align:center;text-decoration:none;background:none}

	#header .layerGnb{display:none;position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.7);z-index:9999;}
	#header .layerGnb .wrapCnt{overflow:scroll;position:absolute;top:0;bottom:0;left:0;width:314px;background:#4e5366;}
	#header .gnb{float:none;width:100%;margin:0;border-bottom:1px solid #111319;}
	#header .gnb li{display:block;}
	#header .gnb > ul > li > a{position:relative;padding:18px 22px !important;color:#fff;font-size:18px;text-align:left;border-top:1px solid #111319;background:#2b2f3e}
	#header .gnb > ul > li > a:after{content:'';display:inline-block;position:absolute;top:50%;right:34px;width:12px;height:16px;margin-top:-8px;background-position:-356px -20px;transform:rotate(90deg)}
	#header .gnb > ul > li > a:hover,#header .gnb > ul > li > a:active,#header .gnb > ul > li > a:focus{color:#fffc00}
	#header .gnb>ul>li>a:hover:before,#header .gnb li.active > a:before{display:none}
	#header .gnb li.on > a{background:#2a4c76}
	#header .gnb .depth2{position:static;width:100%;height:auto;padding:0;border:0;background:#2b2f3e;}
	#header .gnb .depth2 li a{float:inherit;width:100%;padding:14px 23px;color:#fff;font-size:16px;font-weight:400;text-decoration:none !important;box-sizing:border-box;border-top:1px solid rgba(255,255,255,.3);background:#01a479;}
	#header .gnb .depth2 li:first-child a{border:0;}
	#header .gnb .depth2 li a br{display:none}
	#header .gnb .depth2 .on a{color:#fff !important;text-decoration:underline !important;background:#01a479;}

	#header .btnToggleMn{position:absolute;top:13px;left:17px;width:43px;text-indent:-9999px;}
	#header .btnToggleMn a{display:block;position:relative;height:43px;border-radius:50%;background:#95151f}
	#header .btnToggleMn a:before{content:'';display:block;position:absolute;top:50%;left:50%;width:23px;height:20px;margin:-10px 0 0 -12px;background-position:-372px -25px}
    


}