@charset "utf-8";

/* skip-go */
#skip-go {display:block;}
#skip-go dt {position:absolute; top:0; left:-1000px;}
#skip-go dd a {display:block; font-weight:bold; position:absolute; top:0; left:-1000px; font-size:120%; text-align:center; background-color:#000; z-index:1000;} 
#skip-go dd a:hover, 
#skip-go dd a:active, 
#skip-go dd a:focus{left:0; height:40px; width:100%; line-height:40px; color:#fff !important;}


#wrap {width:100%; overflow:hidden;}

/* header */
#header {position: relative; width:100%; /* width:1200px; */ height:90px; margin:0 auto; z-index:1000;}
#header h1.mobile_logo {display:none;}
#header h1 {float:left; margin-top: 20px;}

#header .global {position: absolute; right:0; top:0px;}
#header .global li {display:inline; margin-left:15px;}
#header .global li a {font-size:80%; color: #979797;}

/* menu */
#header .layerGnb{z-index:500; width:100%; height: 100%;}	
#header .layerGnb .bgLayer{display:none; /* position:fixed; */ position: absolute; top:90px; left:0; right:0;height:242px; background:#f49821; z-index:400; }
#header .layerGnb .wrapCnt {position: relative; /* width:100%; */ width:1250px;  margin:0 auto; height:100%;}
#header .gnb {float:right; width:auto; height:auto; margin-top:40px; text-align:center; }
#header .gnb:after{content:''; display:block; clear:both;}
#header .gnb > ul > li{display:inline-block; float:left; position:relative; padding: 0 40px;}
#header .gnb > ul > li:last-child {padding: 0 0 0 40px;}
#header .gnb li a{display:block; font-size:130%;}
#header .gnb li a:hover,
#header .gnb li a:focus,
#header .gnb li.active > a{text-decoration:none;}
#header .gnb li.active > a{color:#fb5c05;}

#header .gnb .depth2{display:none; position:absolute; top:54px; right:0; left:0; height:230px; z-index:500; padding: 10px 0; border-left: 1px solid #f7b764;}
#header .gnb ul > li:nth-of-type(1) .depth2 {border-left: none;}
#header .gnb .depth2 li{display:block; width:100%; margin:0;}
#header .gnb .depth2 li a {color:#fff; font-size:100%; text-align:center; padding:2px 0 4px 0;}
#header .gnb .depth2 li a:hover,
#header .gnb .depth2 li a:active,
#header .gnb .depth2 li a:focus{color:#fff; background:#e95b04;}
#header .gnb .depth2 li.on a{color:#333;font-weight:600;text-decoration:underline;}
#header .gnb .depth2 li.on a:hover,
#header .gnb .depth2 li.on a:active,
#header .gnb .depth2 li.on a:focus{color:#fff;}
.hidePc{display:none;}

/* container */
#container {width:100%; overflow: hidden;}

/* footer */
#footer {width:100%; overflow: hidden; border-top:1px solid #dddddd; background: #ececec;}
#footer .link {width:100%; background: #fff;}
#footer .link ul {width:1200px; margin:0 auto; border-bottom:1px solid #dddddd;}
#footer .link ul li {display:inline-block; padding: 6px 0 9px 0; margin-right:25px;}
#footer .link ul li a {font-size:95%; letter-spacing: -1px;}
#footer .copyright {width:1200px; margin:0 auto; padding:20px 0 30px;}
#footer .copyright address,
#footer .copyright span {font-size:90%; color: #7f7f7f;}
#footer .copyright address {font-style:normal; display:inline-block; margin-right:10px;}
#footer .copyright span:nth-of-type(2) {display:block;}

/********************** 1240px **********************/
@media all and (max-width:1240px){
/* #header, */
#header .layerGnb .wrapCnt,
#footer .link ul,
#footer .copyright {width:100%;}

/* header */
#header h1 {margin: 25px 0 0 20px;}
#header h1 img {height: 45px;}
#header .global {right: 20px;}

#header .gnb {margin-right:20px;}
#header .gnb > ul > li {padding: 0 20px;}
#header .gnb > ul > li:last-child {padding-left: 20px;}
#header .gnb li a {font-size: 125%;}
#header .gnb .depth2 li a {font-size: 95%;}

/* footer */
#footer .link ul {padding: 0 20px;}
#footer .copyright {padding: 20px 20px 30px 20px;}

}
/********************** 768px **********************/
@media all and (max-width:785px){


#header {width:100%; height:60px; float:left; /* overflow: hidden; */}
#header h1.mobile_logo {display:block;}
#header h1.mobile_logo {float:initial; margin: 13px auto 0; text-align: center;}
#header h1.mobile_logo img {height: 35px;}

#header .global {left:0; background: #f49821; width:100%;}
#header .global li {float:left; width:50%; margin:0;}
#header .global li:first-child {border-right:1px solid #f7b764;}
#header .global li:last-child {display:none;}
#header .global li a {display: block; font-size:95%; text-align: center; color: #fff; line-height: 40px;}

#header .layerGnb {display:none;position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.7);z-index:9999;}
#header .layerGnb .wrapCnt{overflow:scroll;position:absolute;top:0;bottom:0;left:0;width:260px;background:#4e5366;}
#header .layerGnb .wrapCnt h1 {display:none;}
#header .gnb {float:none; width:100%; margin-top:40px; border-bottom:1px solid #111319;}
#header .gnb ul {width:100%;}
#header .gnb ul li{display:block; width:100%; padding: 0;}
#header .gnb > ul > li:last-child {padding: 0;}
#header .gnb > ul > li > a{position:relative;padding:18px 22px !important;color:#fff;font-size:18px;text-align:left;border-top:1px solid #111319;background:#2b2f3e}
#header .gnb > ul > li > a:after{content:'';display:inline-block;position:absolute;top:50%;right:34px;width:12px;height:16px;margin-top:-8px;background-position:-356px -20px;transform:rotate(90deg)}
#header .gnb > ul > li > a:hover,
#header .gnb > ul > li > a:active,
#header .gnb > ul > li > a:focus{color:#fffc00;}
#header .gnb > ul > li > a:hover:before,
#header .gnb li.active > a:before{display:none;}
#header .gnb li.on > a{background:#2a4c76}
#header .gnb .depth2{position:static;width:100%;height:auto;padding:0;border:0;background:#2b2f3e;}
#header .gnb .depth2 li a{float:inherit; width:100%; padding:14px 23px;color:#fff; text-decoration:none !important; text-align: left; box-sizing:border-box;border-top:1px solid rgba(255,255,255,.3);background:#01a479;}
#header .gnb .depth2 li a:hover,
#header .gnb .depth2 li a:active,
#header .gnb .depth2 li a:focus{color:#fff; background:#4b5061;}
#header .gnb .depth2 li:first-child a{border:0;}
#header .gnb .depth2 li a br{display:none}
#header .gnb .depth2 .on a{color:#fff !important;text-decoration:underline !important;background:#01a479;}

.hidePc{display:block;}
#header .btnToggleMn{position:absolute; top:8px; left:20px; text-indent:-9999px;}
#header .btnToggleMn a{display:block; position:relative; width:43px; height:43px; background:#4d4d4d; border-radius: 3px;}
#header .btnToggleMn a:before{content:''; display:block; position:absolute; top:50%; left:50%; width:23px; height:20px; margin:-9px 0 0 -11px;background: url(../gmi/cni/btnToggleMn_bg.png) no-repeat center top;}
    

    
    
}

/********************** 640px **********************/
@media all and (max-width:640px){

#footer .link ul {padding: 0; overflow: hidden;}
#footer .link ul li {float:left; margin: 0px; padding:5px 0; width:33.33%; text-align: center;}
#footer .link ul li:nth-of-type(4),
#footer .link ul li:nth-of-type(5),
#footer .link ul li:nth-of-type(6) {display: none;}
#footer .copyright {text-align: center;}
#footer .copyright address {display:block;}
}