@charset "utf-8";

/* skip-go */
#skip-go {display:block;}
#skip-go dt {position:absolute; top:0; left:-1000px;}
#skip-go dd a {display:block; font-weight:bold; position:absolute; top:0; left:-1000px; font-size:120%; text-align:center; background-color:#000; z-index:1000;} 
#skip-go dd a:hover, 
#skip-go dd a:active, 
#skip-go dd a:focus{left:0; height:40px; width:100%; line-height:40px; color:#fff !important;}


#wrap {width:100%; overflow:hidden;}

/* header */
#header {position: relative; width:1200px; height:90px; margin:0 auto;}
#header h1 {float:left; margin-top: 20px;}

#header .gnb {position: absolute; right:0; top:0px;}
#header .gnb li {display:inline; margin-left:15px;}
#header .gnb li a {font-size:80%; color: #979797;}

#header .menu {float:right; width:auto; margin:40px 0 0 0;}
#header .menu li {display: inline; margin: 0 40px;}
#header .menu li:last-child {margin: 0 0 0 40px;}
#header .menu li a {font-size:130%;}

/* container */
#container {width:100%; overflow: hidden;}

/* footer */
#footer {width:100%; overflow: hidden; border-top:1px solid #dddddd; background: #ececec;}
#footer .link {width:100%; background: #fff;}
#footer .link ul {width:1200px; margin:0 auto; border-bottom:1px solid #dddddd;}
#footer .link ul li {display:inline-block; padding: 6px 0 9px 0; margin-right:25px;}
#footer .link ul li a {font-size:95%; letter-spacing: -1px;}
#footer .copyright {width:1200px; margin:0 auto; padding:20px 0 30px;}
#footer .copyright address,
#footer .copyright span {font-size:90%; color: #7f7f7f;}
#footer .copyright address {font-style:normal; display:inline-block; margin-right:10px;}
#footer .copyright span:nth-of-type(2) {display:block;}

/********************** 1240px **********************/
@media all and (max-width:1240px){
#header,
#footer .link ul,
#footer .copyright {width:100%;}
}

