@charset "utf-8";

#container {background: #f7f7f7;}
.sub_title {overflow:hidden; width:100%; height:250px; }
.sub_title p {width: auto; margin:65px auto 0; font-size: 220%; font-weight:400; color: #fff; text-align: center; letter-spacing: -1px;}
.sub_title p span {display: block; font-size: 130%; color: #fff; line-height:50px;}
.sub_title p span strong {font-size: 100%; color: #fff;}
.sub_visual_01 {background: url(../gmi/sub/sub_visual_01.jpg) no-repeat center top;}
.sub_visual_02 {background: url(../gmi/sub/sub_visual_02.jpg) no-repeat center top;}
.sub_visual_03 {background: url(../gmi/sub/sub_visual_03.jpg) no-repeat center top;}
.sub_visual_04 {background: url(../gmi/sub/sub_visual_04.jpg) no-repeat center top;}

.sub_head {width:1200px; margin:30px auto 30px;}
.sub_head h3 {width:auto; font-size:180%; letter-spacing: -1px; display: inline;} 
ul.location {float:right; width:auto; text-align: right; margin-top:10px;}
ul.location li {float:left; display: inline-block; font-size:90%; background: url(../gmi/sub/location_arr.gif) no-repeat 9px 55%; padding-left:20px;}
ul.location li:nth-of-type(1) {width:15px; height:15px; background: url(../gmi/sub/home.gif) no-repeat left top; margin-top:4px; padding:0;}

.content {width:1200px; margin:0 auto 100px; overflow: hidden;}

/* thema_list */
.thema_list {width:1200px; height:auto; margin-bottom:30px; overflow: hidden;}
.thema_list ul {width:100%;}
.thema_list li {float:left; width:23.41%; height:370px; overflow: hidden; margin: 0 0 20px 2.12%;}
.thema_list li:nth-of-type(1),
.thema_list li:nth-of-type(5),
.thema_list li:nth-of-type(9) {margin-left:0;}
.thema_list dl {position: relative; width:100%; height:100%; border:1px solid #e7e7e7; background-color: #fff;}
.thema_list dt.title {width:100%; padding: 0 7.5%; margin-top:72%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.thema_list dt.title a {font-weight:600; font-size:120%;}
.thema_list dt.title a:hover {opacity: 0.5;}
.thema_list dt.title a span {font-size:75%; color:#4a4a4a; font-weight:400;}
.thema_list dt.title span {display:block;  line-height:16px;}
.thema_list dd {width:85%; padding: 0 7.5%;}
.thema_list dd.photo {width:100%; position: absolute; left:0; top:0; padding: 0%;}
.thema_list dd.photo:hover {opacity: 0.5;}
.thema_list dd.text {padding:13px 0; margin:10px auto 0; font-size:90%; color: #636363; border-top:1px solid #dbdbdb;}
.thema_list dd.thema_icon {padding:5px 0 0 0; margin:0 auto 0; border-top:1px solid #dbdbdb; text-align: right;}
.thema_list dd.thema_icon span {font-size:90%; float:left; text-align: left; margin:0; padding:0;}
.thema_list dd.thema_icon a {display:inline-block; padding-left: 16px; margin-left:15px; font-size:90%; color: #ababab;}
.thema_list dd.thema_icon a:hover {color: #fb5c05;}
.thema_list dd.thema_icon a:nth-of-type(1) {background: url(../gmi/main/thema_icon01.gif) no-repeat left 5px;}
.thema_list dd.thema_icon a:nth-of-type(2) {background: url(../gmi/main/thema_icon02.gif) no-repeat left 5px;}
.thema_list dd.thema_icon a:nth-of-type(1):hover {background: url(../gmi/main/thema_icon01.gif) no-repeat left -18px;}
.thema_list dd.thema_icon a:nth-of-type(2):hover {background: url(../gmi/main/thema_icon02.gif) no-repeat left -18px;}

/* festival */
.festival {width:100%; letter-spacing: -1px;}
.festival dl {float:left; width:49%; height:206px; padding: 20px 20px; position: relative; border:1px solid #e7e7e7; background: #fff;}
.festival dt {margin: 0 0 8px 35.5%;}
.festival dt a {display:block; font-size: 120%; font-weight: bold; width:90%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.festival dd.photo {position: absolute; left:0; top:0; margin:0; padding:0; width:32.31%; height:206px;}
.festival dd.photo a {width:100%; height:100%;}
.festival dd.photo a img {width:100%; height:100%;}
.festival dd {margin: 0 0 1px 35.5%; padding-left:9px; font-size:90%; color: #898989; background: url(../gmi/main/calender_dot.gif) no-repeat left 50%;}
.festival dd.text {background:none; padding-left:0px; margin-bottom:10px; font-size:100%; height:72px; overflow: hidden;}
.festival dd span {font-size:100%;}

/********************** 1400px **********************/
@media all and (max-width:1400px){
}

/********************** 1240px **********************/
@media all and (max-width:1240px){
.sub_head,
.content {width: 100%; padding: 0 20px; overflow: hidden;}
.sub_head {margin: 15px auto 20px;}
.content {margin: 0 auto 50px;}
.sub_title p {font-size: 180%;}

/* thema_list */
.thema_list {width:100%;}
}

/********************** 768px **********************/
@media all and (max-width:768px){
.sub_title {height: 150px;}
.sub_title p {margin: 40px auto 0; font-size: 140%;}
.sub_title p span {line-height: 36px;}

/* thema */
.thema_list li {width:49%; height: auto; margin:0 0 10px 2%;}
.thema_list li:nth-of-type(3),
.thema_list li:nth-of-type(5),
.thema_list li:nth-of-type(7),
.thema_list li:nth-of-type(9),
.thema_list li:nth-of-type(11) {margin-left:0;}
.thema_list dl {padding-bottom:10px;}
.thema_list dd.photo a img {width:100%;}

/* festival */
.festival dl {width:100%; margin-bottom:10px;}
.festival dt {margin: 0 0 8px 200px}
.festival dd {margin: 0 0 1px 200px;}
.festival dd.photo {width:190px;}
}

/********************** 640px **********************/
@media all and (max-width:640px){
.sub_title {height: 100px;}
.sub_title p {margin: 25px auto 0; font-size: 90%;}
.sub_title p span {line-height: 24px;}

.sub_head h3 {display: block; font-size: 140%;}
ul.location {float: left; margin-top: 0px;}
ul.location li {color: #777; font-size: 85%;}
ul.location li:nth-of-type(1) {background-size: 11px auto; background-position: 2px 2px;}

/* thema */ 
.thema_list li {width:100%; margin:0 0 10px 0;}
.thema_list li:nth-of-type(1) {margin:0 0 10px 0;}

/* festival */
.festival dl {height:auto;}
.festival dt {margin: 0 0 10px 0; width:100%;}
.festival dt a {font-size:100%;}
.festival dd {margin: 0 0 1px 0; width:100%; font-size: 90%;}
.festival dd.text {font-size: 90%; line-height: 20px; height: 58px;}
.festival dd.photo {width:100%; height:100%; position: relative; margin-bottom:10px;}
}